body {
  max-width: 200px;
  margin: 0 auto;
  background-color: pink;
  text-align: center;
}

img[data-src] {
  filter: blur(0.5em);
  
}

img {
  filter: blur(0em);
  transition: filter 0.5s;
  border-radius: 10%;
  box-shadow: inset 0.3em 0.3em 0.9em black;
  
}
  
