@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins&display=swap');

body {
    background-color: rgb(red, green, rgb(143, 143, 219));
    text-align: center;
    font-family: 'poppins', cursive;
}

main {
    margin: 1.5em 0;
    box-shadow: 0 0 10px 5px rgb(7, 71, 73);
    padding: 1em;
  }
  
  section {
   /*background-color: rgb(red, green, rgb(50, 78, 77));*/
   border: 2em solid;
    padding: 1em;
    color: rgb(red, green, rgb(3, 43, 36));
    margin: .25em;
  }
  
  h1, h2{
    font-family: 'Lobster', cursive;
    color: rgb(red, green, rgb(3, 43, 36))
  }
  
  h1{
    font-size: 3em;
  }
  
  h2{
    font-size: 2em;
  }
  
  section img {
    box-shadow: 6px 6px 8px black;

    
    max-height: 50vw;
  }
  
  section:hover {
    
    background-color: rgba(161, 184, 214, 0.521);
  }

  footer {
    background-color: #084174;
    padding: 10px;
    text-align: center;
    color:rgb(143, 229, 225);
    
    margin: 0 auto;
  }
  
  @media screen and (min-width: 35em) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  
    main{
      margin: 1em;
    }
  
    section img{
      max-width: 80%;
    }
  }
  
  @media screen and (min-width: 64em) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  
    section img{
      max-width: 80%;
    }
  }
