/*----------------  BODY-------------------*/
body {
  background-color: #f6eded;
}




/*---------------HEADER-------------------*/
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.icono {
  background-color: #ff880c;
}

.summaryrentals {
  position: absolute;
  bottom: 10px;
  left: 50px;
  background: radial-gradient(#ff880c, #fef190);
  /*background-color:  #ffbb40;*/
  padding: .8rem 1.5rem;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgb(71, 71, 71);
  padding: .5em;
  margin: 1em;
  opacity: 0.8;
}




/*---------------NAVIGATION-------------------*/
#navigation {
  text-align: center;
  list-style: none;
  padding: 0;
}

.ham {
  align-content: center;
}
nav button {
  margin: .2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
  color: #555;
}
nav {
  font-family: 'acme', sans-serif;
  background-color: #ff880c;
  margin: 0 auto;
  max-width: 760px;
margin-top: 1rem;
border-radius: .5em;

}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
nav ul li a {
  display: block;
  padding: .8rem 2%;
  text-decoration: none;
  color: #fef190;
  border-top: 1px solid rgba(0, 0, 0, 0.3);

}


nav ul li .active a{ background-color: rgba(0, 0, 0, 0.3); color: #dcf6ca;}
nav ul li.sinac a:hover { background-color: rgba(0, 0, 0, 0.6);}
nav ul.hide {display: none;}





/*---------------MAIN-------------------*/
/*--ALERTAS--*/



/*---------------MAIN-------------------*/
.gridcontainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.summarywheather {  
  position: absolute;
  bottom: 10px;
  left: 50px;
  background: radial-gradient(#ff880c, #fef190);
  /*background-color:  #ffbb40;*/
  padding: .8rem 1.5rem;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgb(71, 71, 71);
  padding: .5em;
  margin: 1em;
  opacity: 0.8;
}
  


/*------boton de reserva----*/
.cta{
  position: absolute;
  left: 50%;
  margin: 0 0 100px -150px;
}

.btn{
	width: 300px;
	height: 50px;
	line-height: 50px;	
	background-color: #FF6138;
  border-radius: 8px;
	color: #fff;
  font-family: 'Indie Flower', cursive;
  font-size: 22px;
  font-weight: normal;
	text-decoration: none;
	text-align: center;
	display: inline-block;
  position: absolute;
  
  }
	.btn:hover{
		background-color: #e16e50;
	}
/*------------------------------*/




/*---------------FOOTER-------------------*/

.box {
  background-color: #ff880c;
  margin-bottom: -1em;
}

.box1 {
  background-color: #cf3401;
  color: #fef190;
}



  /*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }