@media only screen and (min-width: 35rem) {

    nav button {display: none;}
    nav ul.hide {display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.6);
        padding: .8rem 1rem;
    }
    
    
	.check {
		letter-spacing: 1.5pt;
		font-size: larger;
		margin-left: 17px;
    }
    
    /*coloque desde aqui*/
    #navigation {
		display: flex;
	}
	#navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	#navigation a {
		text-align: center;
	}
	#navigation li:first-child {
		display: none;
    }
            
        header picture img {
        width: 100px;
                            
        }
    
        .headings h1 {
            font-size: 2.5rem;
        }
            
        header, footer{
            border-radius: 10px;
        }
        .footermenu {
            grid-template-columns: 1fr 1fr;
            grid-gap: 100px;
        }
        main {
            max-width: 960px;
            margin: 0 auto;
        }
        header picture img {
            width: 100px;
        }

        /*load gallery*/
        /* Lazy Load Gallery */
	.lazyloadgallery {
        grid-template-columns: 1fr 1fr;
        grid-gap: 0.5em;
    }
    
    .lazyloadgallery :nth-child(1) {
		grid-column: 1 / span 2;
    }

      
    } 
