@media only screen and (max-width: 70em){
    h1{
        /*align-items: center;*/
        color:  #1d342e;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 3.5rem;
        }
        h2{
            font-size: 1.5rem;
            color: #1d342e;
        }
        body{
            background-color: #a6c36f;
        }
        nav a {
            font-size: 1.1rem;
        }
        /*main {
            grid-template-columns: 1fr 1fr 1fr;
        }
        article:nth-child(3) {
            grid-column: span 1;
        }*/
        body{
            background-color: #dcf6ca;
        }
    
}