*{ -moz-box-sizing: border-box;} -webkit-box-sizing: border-box; box-sizing: border-box;}

body {
    background-color:#dcf6ca;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

header {
    background-color:#375848;
    max-width: 860px;
    padding: 5px 0;
    display: flex;
    align-items:center;
    justify-content:center;
    color: #dcf6ca;
    margin: 0 auto;
}

.headings {
    display: flex;
    flex-direction: column;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
}

.m {
    letter-spacing: 1pt;
    color: #1d342e;
    margin-left: 20px;
    font-size: .9rem;
}
nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}

nav {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #a6c36f;
    margin: 0 auto;
    max-width: 760px;
}

#navigation {
    text-align: center;
    list-style: none;
    padding: 0;
}

.ham {
    align-content: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: #dcf6ca;
    border-top: 1px solid rgba(0, 0, 0, 0.3);

}

.responsive li {
    display: block;
}

.box {
    background-color: #828c51;
    margin-bottom: .7em;
    box-shadow: 1px 1px 2px #0000002f;
    box-sizing: border-box;
    padding: 15px;
    display: flex;
    color: #333;
    
} 

main {
    margin: 0 auto;
}

footer {
    display: block;
    background-color: #375848;
    align-items: center;
    max-width: 860px;
    margin: 0 auto;
    justify-content:center;
}

.prestid {
    font-size: 2em;
    margin: 0.67em 0;
    display: block;
    justify-items: center;
}


nav ul li .active a{ background-color: rgba(0, 0, 0, 0.3); color: #dcf6ca;}
nav ul li a:hover { background-color: rgba(0, 0, 0, 0.6);}
nav ul.hide {display: none;}


/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
