/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {

    /*header, nav, main, footer {
        max-width: 64rem;
        margin:auto;
    }*/

/*----------- BODY --------------*/
    nav button {display: none;}
    nav ul.hide {display: block;}
    nav ul {margin-left: 2%;}
    nav ul li {
        float: left;
    }

    nav ul li a {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, 0.6);
        padding: .6rem 1rem;
    }
    
    nav ul li.active a{ background-color: rgba(0, 0, 0, 0.3); color: #dcf6ca;}
    nav ul li.sinac a:hover { background-color: rgba(0, 0, 0, 0.6);}
    nav ul.hide {display: none;}

/*----------- HEADER --------------*/
header picture img {
    width: 200px;
}

header {
    max-width: 960px;
    margin: 0 auto;
}

header h1{
    /*align-items: center;*/
    color: whitesmoke;
    font-family: 'Ranchers', cursive;
    font-size: 2.5rem;
    }


/*----------- NAVIGATION --------------*/



/*----------- MAIN --------------*/
form label {
    padding: .4rem 0;
}
main {
    max-width: 500px;
    margin: 0 auto;
  }
fieldset legend.top {
    align-content: center;
}
form input.submitBtn:hover {
  border-radius: 1.2rem;
  background-color: green;
  color: #fff;
  font-size: 1.25em;
}

h1, .check {
    text-align: center;
  }

.top1 {
    width: 100%;
    margin: auto 0;
    /*padding: auto 0;*/
}  
/*----------- FOOTER --------------*/
footer {
    max-width: 1000px;
    margin: 0 auto;
    
  }
} /* end of media query */