/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/*----------- BODY --------------*/
body {
    background-color:#dcf6ca;
    padding: 0;
    font-family: 'acme', sans-serif;
}


/*----------- HEADER --------------*/
header {
    background-color:#375848;
    /*max-width: 50rem;*/
    max-width: 100%;
    /*padding: 10px 0;*/
    padding: 1.5em 1em;
    /*display: flex;*/
    align-items:center;
    justify-content:center;
    color: #dcf6ca;
    margin: 0 auto;
    margin-top: 1em;
    border-radius: .5em;
}

header .icono {
    /*max-width: 80px;
    height: auto;*/
    float: left;
      max-width: 90px;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0 0 0 17px;
    /*align-items: center;
    text-align: left;*/
    margin-top: 1rem;
    font-family: 'acme', sans-serif;
    
}


header h1 {margin: 0;}
header h2 {margin: 0; font-weight: normal;}

/*----------- NAVIGATION --------------*/
/*#navigation {
    text-align: center;
    list-style: none;
    padding: 0;
  }*/
    
  .ham {
    align-content: center;
  }


  nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
  }
  nav {
    font-family: 'acme', sans-serif;
    background-color: #a6c36f;
    margin: 0 auto;
    max-width: 760px;
  margin-top: 1rem;
  border-radius: .5em;
  text-align: center;
  
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
  }

  nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-align: center;
    text-decoration: none;
    color: #337755;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  
  }
  
  
  nav ul li.active a{ background-color: rgba(0, 0, 0, 0.3); color: #dcf6ca;}
  nav ul li a:hover { background-color: rgba(0, 0, 0, 0.6);}
  nav ul.hide {display: none;}
  
/*----------- MAIN --------------*/
main {
    padding: 0 2%;
    min-height: 20rem;
}

/*------------ MAIN ---------------*/
form fieldset {
    margin: 2rem 0;
    /*border: 2px solid #1f2507;*/
    border-color: #1f2507;
    border-radius: 20px;
    padding: .5rem 2%;
}

form .top1 {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #337755;
    font-size: .8rem;
}

form label.top input, form label.top select {
    
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}

form label.sbs {
    
  float: left;
  text-align: center;
  padding: .75rem 0;
  width: 30%;
}


form input.submitBtn {
    border: none;
    background-color: #337755;
    color: white;
    font-weight: bold;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
    
}

form input.submitBtn:hover {
  border-radius: 1.2rem;
  background-color: green;
  color: #fff;
  font-size: 1.25em;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*.top1 {
  width: 100%;
  margin: auto 0;
  padding: auto 0;
}*/  


/*----------- FOOTER --------------*/
footer {
    background-color: #1f2507;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;    

  }
  .box {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    color: rgb(204, 221, 171); 
    background-color: #337755; 
    text-align: center;
    
  }
    
  .copy{
    text-align: center;
    color: #dcf6ca;
    
  }

  .redes img{
    padding: 0 0.5em 0 0;

  }
  
  iframe.mapa {
    width: 100%;

  }
  
  footer p {
    line-height: 1.5;
    font-size: 1em;
  }
  
  footer a {
    color: aquamarine;
    font-size: 1em;
  }
  footer a,
  footer h3 {
    line-height: 1em;
  }
    
  /*#box:hover { background-color: rgba(0, 0, 0, 0.4);}*/
    
    
  .pestid {
   text-align: center;
  }
 



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}